.form{
    text-align: center;
    height: 325px;
}

.options{
    align-items: center;
}

.doot{
    list-style: none;
}

.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

